/* Start Global Settings */

:root {
	--main-color: #293462;
	--main-color-alt: #151b34;
	--sec-color: #d61c4e;
	--third-color: #feb139;
	--fourth-color: #fff80a;
	--transition-time: 0.5s;
}

* {
	box-sizing: border-box;
}

*,
body {
	padding: 0;
	margin: 0;
}

body {
	font-family: "Oswald", sans-serif;
	letter-spacing: 1px;
	direction: ltr;
	overflow-x: hidden;
	background-color: #eee;
}

body::-webkit-scrollbar,
.mainbg::-webkit-scrollbar {
	background-color: transparent;
	width: 15px;
}

body::-webkit-scrollbar-thumb,
.mainbg::-webkit-scrollbar-thumb {
	background: #d4d4d4;
}

ul {
	margin: 0;
	padding: 0;
}

ul li {
	list-style-type: none;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	color: inherit;
}

/* End Global Settings */

/* Start Header Settings */
.navbar {
	margin-top: 20px;
	font-size: 16px;
}

.navbar-toggler {
	color: var(--sec-color);
	border: none;
	outline: none;
}

.navbar-toggler:focus,
.navbar-toggler:active {
	color: var(--main-color);
	border: none;
	outline: none;
	box-shadow: none;
}

.nav-link {
	color: var(--sec-color);
	margin: 0px 20px;
}

.nav-link:hover,
.nav-link:focus {
	color: var(--main-color);
}

.mainBtn {
	background-color: var(--sec-color);
	color: #eee;
	padding: 7px 20px;
	transition: var(--transition-time);
	-webkit-transition: var(--transition-time);
	-moz-transition: var(--transition-time);
	-ms-transition: var(--transition-time);
	-o-transition: var(--transition-time);
}

.mainBtn:hover,
.mainBtn:focus {
	background-color: var(--main-color);
	color: #eee;
}

.secBtn {
	color: var(--sec-color);
	padding: 7px 20px;
	transition: var(--transition-time);
	-webkit-transition: var(--transition-time);
	-moz-transition: var(--transition-time);
	-ms-transition: var(--transition-time);
	-o-transition: var(--transition-time);
	border: 3px solid var(--sec-color);
}

.secBtn:hover,
.secBtn:focus {
	background-color: var(--main-color);
	border: 3px solid var(--main-color);
	color: #eee;
}

/* End Header Settings */

/* Start Hero Settings */

.content {
	color: var(--sec-color);
	font-size: 45px;
	font-weight: 700;
	text-align: left;
}

@media (max-width: 992px) {
	.content {
		width: 100%;
	}
}

.name>span {
	color: var(--main-color);
}

.title {
	margin-top: -20px;
	font-weight: 400;
	font-size: 29px;
}

.description {
	font-size: 18px;
	font-weight: 200;
	color: #29346281;
	width: 85%;
}

.heroBtn {
	font-size: 18px;
	color: #eee;
	padding: 10px 40px;
	border-radius: 30px;
	background-color: var(--sec-color);
	transition: var(--transition-time);
	-webkit-transition: var(--transition-time);
	-moz-transition: var(--transition-time);
	-ms-transition: var(--transition-time);
	-o-transition: var(--transition-time);
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	border: none;
}

.heroBtn:hover,
.heroBtn:focus {
	background-color: var(--main-color);
	color: #eee;
}

.heroAltBtn {
	font-size: 18px;
	color: var(--sec-color);
	padding: 7px 40px;
	transition: var(--transition-time);
	-webkit-transition: var(--transition-time);
	-moz-transition: var(--transition-time);
	-ms-transition: var(--transition-time);
	-o-transition: var(--transition-time);
	border: 3px solid var(--sec-color);
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
}

.heroAltBtn:hover,
.heroAltBtn:focus {
	background-color: var(--main-color);
	border: 3px solid var(--main-color);
	color: #eee;
}

.pictureContainer {
	position: relative;
}

.pictureContainer>img {
	width: 107%;
}

.pictureContainer::before {
	position: absolute;
	content: "";
	width: 60%;
	height: 60%;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	background-color: var(--sec-color);
	z-index: -2;
	top: 0;
	left: 0;
	box-shadow: -5px -5px 15px var(--sec-color);
}

.pictureContainer::after {
	position: absolute;
	content: "";
	width: 45%;
	height: 45%;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	background-color: var(--main-color);
	z-index: -3;
	right: 1%;
	top: 2%;
	box-shadow: -5px -5px 15px var(--main-color);
}

@media (max-width: 767px) {
	.content {
		font-size: 35px;
	}

	.description {
		font-size: 13px;
	}
}

/* End Hero Settings */

/* Start About Settings */

#About {
	background-color: var(--main-color);
	position: relative;
}

.about-bg {
	position: absolute;
	background-image: url(images/Whangaehu.svg);
	background-repeat: no-repeat;
	background-size: cover;
	background-blend-mode: lighten;
	width: 100%;
	height: 100%;
	opacity: 0.1;
}

.aboutPictureContainer {
	position: relative;
	padding: 120px 10px;
}

.aboutPictureContainer>img {
	width: 75%;
	position: relative;
	z-index: 3;
	/* box-shadow: -5px -5px 15px #eee; */
	border: 10px solid #eee;
}

.aboutPictureContainer::before {
	position: absolute;
	content: "";
	width: 75%;
	aspect-ratio: 1/1;
	background-color: transparent;
	border: 3px solid var(--sec-color);
	top: 150px;
	left: 20px;
	z-index: 2;
}

.aboutPictureContainer::after {
	position: absolute;
	content: "";
	width: 75%;
	aspect-ratio: 1/1;
	background-color: transparent;
	border: 3px solid var(--third-color);
	top: 90px;
	left: -20px;
	z-index: 2;
}

.about-content>.headTitle {
	color: var(--third-color);
	font-size: 35px;
}

.about-content>.about-description {
	color: #eee;
}

/* End About Settings */

/* Start Skills Settings */
#Skills {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.skills {
	font-size: 35px;
	text-align: center;
	color: var(--main-color);
	margin-top: 20px;
	font-weight: 600;
}

@-webkit-keyframes scroll {
	0% {
		transform: translateX(0);
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		-o-transform: translateX(0);
	}

	100% {
		transform: translateX(calc(-250px * 9));
		-webkit-transform: translateX(calc(-250px * 9));
		-moz-transform: translateX(calc(-250px * 9));
		-ms-transform: translateX(calc(-250px * 9));
		-o-transform: translateX(calc(-250px * 9));
	}
}

@keyframes scroll {
	0% {
		transform: translateX(0);
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		-o-transform: translateX(0);
	}

	100% {
		transform: translateX(calc(-250px * 9));
		-webkit-transform: translateX(calc(-250px * 9));
		-moz-transform: translateX(calc(-250px * 9));
		-ms-transform: translateX(calc(-250px * 9));
		-o-transform: translateX(calc(-250px * 9));
	}
}

.slider {
	background: transparent;
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
	margin: auto;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.slider::before,
.slider::after {
	background: linear-gradient(to right,
			transparent 0%,
			rgba(255, 255, 255, 0) 100%);
	content: "";
	height: 100px;
	position: absolute;
	width: 200px;
	z-index: 2;
}

.slider::after {
	right: 0;
	top: 0;
	transform: rotateZ(180deg);
}

.slider::before {
	left: 0;
	top: 0;
}

.slider .slide-track {
	-webkit-animation: scroll 30s linear infinite;
	animation: scroll 30s linear infinite;
	display: flex;
	width: calc(250px * 14);
}

.slider .slide {
	height: 100px;
	width: 250px;
	margin-bottom: 50px;
}

/* End Skills Settings */

/* Start Portfolio Settings */
#Portfolio {
	background-color: #eee;
	padding-bottom: 30px;
	border-bottom: 30px solid var(--main-color-alt);
	border-top: 30px solid var(--main-color-alt);
}

.portfolio {
	font-size: 35px;
	text-align: center;
	color: var(--main-color);
	padding-top: 50px;
	font-weight: 600;
}

.portfolio:last-of-type {
	font-size: 20px;
	text-align: center;
	color: var(--main-color-alt);
	margin-top: -50px;
	font-weight: 400;
	letter-spacing: 2px;
	margin-bottom: 50px;
}

.project-item {
	margin-bottom: 60px;
	transition: all var(--transition-time);
	-webkit-transition: all var(--transition-time);
	-moz-transition: all var(--transition-time);
	-ms-transition: all var(--transition-time);
	-o-transition: all var(--transition-time);
}

.project-item img.preview {
	width: 100%;
	margin-bottom: 30px;
}

.project-image {
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	overflow: hidden;
	position: relative;
	margin-bottom: 20px;
}

.project-image img {
	width: 100%;
	margin-bottom: 0px;
}

.project-item:hover {
	transform: translateY(-5px);
	-webkit-transform: translateY(-5px);
	-moz-transform: translateY(-5px);
	-ms-transform: translateY(-5px);
	-o-transform: translateY(-5px);
}

.project-content p {
	margin-bottom: 0px;
}

.project-text .d-date {
	font-size: 14px;
}

.project-text h4 {
	margin-top: 10px;
	margin-bottom: 10px;
}

.project-text h4 a {
	font-weight: bold;
	color: var(--main-color);
	text-decoration: none;
	line-height: 1.5em;
	letter-spacing: 0;
}

.portfolioBtn {
	padding: 10px 30px;
	border: 2px solid var(--main-color);
	background: transparent;
	color: var(--main-color);
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	transition: all var(--transition-time);
	-webkit-transition: all var(--transition-time);
	-moz-transition: all var(--transition-time);
	-ms-transition: all var(--transition-time);
	-o-transition: all var(--transition-time);
}

.portfolioBtn:hover {
	background-color: var(--main-color);
	color: #eee;
}

/* End Portfolio Settings */

/* Start Contact Settings */
#Contact {
	background-color: var(--main-color);
	padding: 30px 0px;
}

.contact {
	color: #eee;
	text-align: center;
	font-weight: bold;
	font-size: 35px;
	margin-bottom: 40px;
}

.contact-item {
	padding: 40px 0;
	transition: all var(--transition-time);
	-webkit-transition: all var(--transition-time);
	-moz-transition: all var(--transition-time);
	-ms-transition: all var(--transition-time);
	-o-transition: all var(--transition-time);
}

.contact-item:hover {
	background-color: var(--main-color-alt);
}

.contact-item:hover>svg {
	transform: scale(1.11);
	-webkit-transform: scale(1.11);
	-moz-transform: scale(1.11);
	-ms-transform: scale(1.11);
	-o-transform: scale(1.11);
}

.contact-item>p {
	color: var(--third-color);
	margin-top: 10px;
	font-size: 22px;
}

/* End Contact Settings */

/* Start Footer Settings */
footer {
	background-color: var(--third-color);
	color: var(--main-color);
	font-weight: 400;
	font-size: 18px;
}

footer {
	a {
		color: var(--sec-color);
		text-decoration: none;
	}
}

/* End Footer Settings */